<h1>
  <slot />
</h1>

<style>
  h1 {
    text-align: center;
    color: var(--background);
    text-shadow: 0.125rem 0.125rem 0.25rem var(--shadow-dark),
      -0.125rem -0.125rem 0.25rem var(--shadow-light);
  }
</style>
